<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />
</head>

<body>

<h1>{{ title }}<h1/>

<div id="content">
	<a href="..">Back</a>
	<table>
		{% for item in thumbnails %}
			{% if loop.index0 is divisibleby 6 %}
				<tr>
		    {% endif %}
					<td>
						<a href="{{ item }}">
							<img src="{{ item }}" width="150" height="120"/>
						</a>					
				    </td>
			{% if loop.index is divisibleby 6 %}
				</tr>
		    {% endif %}
		{% endfor %}	
	</table>
	<a href="..">Back</a>
</div>

</body>
</html>